
[submodule "aos-kernel"]
path = aos-kernel
url = https://github.com/ASISaga/aos-kernel.git

[submodule "aos-infrastructure"]
path = aos-infrastructure
url = https://github.com/ASISaga/aos-infrastructure.git

[submodule "aos-intelligence"]
path = aos-intelligence
url = https://github.com/ASISaga/aos-intelligence.git

[submodule "aos-dispatcher"]
path = aos-dispatcher
url = https://github.com/ASISaga/aos-dispatcher.git

[submodule "aos-client-sdk"]
path = aos-client-sdk
url = https://github.com/ASISaga/aos-client-sdk.git